.sidenav {
  height: 90%;
  width: 340px;
  position: fixed;
  z-index: auto;
  top: 37;
  left: 0;
  background-color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  overflow-y: scroll;
  padding-top: 20px;
  bottom: 30px;
  word-wrap: break-word;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.sidenav::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.sidenav {
  -ms-overflow-style: none;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: skyblue;
  display: block;
}

.sidenav a:hover {
  color: black;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
  padding-left: 30%;
  display: inline-block;
}
