{% extends "base.html" %}
<!--  -->
{% load staticfiles %}

{% block content %}

<!-- chat/templates/chat/room.html -->
<div class="container">
    <div class="page-header">
        <h1>Welcome to ChatApp
            <small>Pick a user and start chatting!</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="user-list" class="list-group">
                <a href="" class="list-group-item disabled">
                    <h4 class="list-group-item-heading">Users</h4>
                    {# Users go here #}
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Chat</h4>
                </div>
                <div>
                    <ul id="chat-log" class="messages">
                        {# Messages go here #}
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="chat-message-input" type="text"
                               class="form-control input"
                               placeholder="Type your message here ..."
                               maxlength="500">
                        <span class="input-group-btn">
                        <button class="btn btn-info btn"
                                id="chat-message-submit">
                            Send</button>
                    </span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
    {{ room_name|json_script:"room-name" }}
    <script>
        var roomName = JSON.parse(document.getElementById('room-name').textContent);
        let currentRecipient ="";

        function drawMessage(message) {
            let position = 'left';
            const date = new Date(message.timestamp);
            if (message.user === currentUser) position = 'right';
            const messageItem = `
                    <li class="message ${position}">
                        <div class="avatar">${message.user}</div>
                            <div class="text_wrapper">
                                <div class="text">${message.body}<br>
                                    <span class="small">${date}</span>
                            </div>
                        </div>
                    </li>`;
            $(messageItem).appendTo('#messages');
        }

        

        var chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data).message;
            // id = JSON.parse(e.data).message
           
                if (data.user === currentRecipient ||
                    (data.recipient === currentRecipient && data.user == currentUser)) {
                    drawMessage(data);
                }
                $("#chat-log").animate({scrollTop: $("#chat-log").prop('scrollHeight')});
          
        }
        //     document.querySelector('#chat-log').value += (data.message + '\n');
        // };

        chatSocket.onclose = function(e) {
            console.error("Chat socket closed unexpectedly");
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = " ";
        };
    </script>
 <script>
    let sessionKey = '{{ request.session.session_key }}';
    let currentUser = '{{ request.user.username }}';
</script>
{% endblock %}