{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div>
  <class class="col-sm-6 col-sm-offset-3">
    <h1>{{ title }}</h1>

    <hr />

    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %} {{ form |crispy }}
      <input
        type="submit"
        class="btn btn-primary btn-lg btn-block"
        value="{{ title }}"
      />
    </form>
    <br />
    {% if not request.path == '/profile/' %}
    <div style="text-align: center;">
      <p><strong>-- OR --</strong></p>
      <a
        id="github-button"
        class="btn btn-block btn-social btn-github"
        href="{% url 'social:begin' 'github' %}"
      >
        <span class="fa fa-github"></span> Signin with Github
      </a>
      <a
        href="{% url 'social:begin' 'facebook' %}"
        class="btn btn-block btn-social btn-facebook"
      >
        <span class="fa fa-facebook"></span> Signin with Facebook
      </a>
    </div>
    {% endif %}
  </class>
</div>
{% endblock content %}
