<!-- {% if messages %}
<div class="messages">      
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>           
</div>
{% endif %} -->

{% for message in messages %}
<div
  id="fadeout"
  class="alert {{ message.tags }} alert-dismissible"
  role="alert"
>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
</div>
<script>
  setTimeout(function () {
    $("#fadeout").fadeOut("fast");
  }, 3000);
</script>
{% endfor %}
