{% extends "base.html" %}{% load crispy_forms_tags %} {% block content %}
<!--  -->

{% include "sidenav.html" %}

<div class="col-sm-6 col-sm-offset-3" style="background-color: bisque;">
  <h1 class="col-sm-6 col-sm-offset-3">
    {{ title }}
  </h1>

  <form method="GET" action="" class="col-sm-6 col-sm-offset-3">
    <input
      class="btn btn-block btn-social btn-search"
      type="text"
      name="q"
      placeholder="Search posts"
      value="{{ request.GET.q }}"
    />
    <input
      type="submit"
      value="Search"
      class="btn btn-block btn-social btn-search"
    />
  </form>
  {% for obj in object_list %}
  <div class="row">
    <div class="col-sm-12">
      <div class="thumbnail">
        {% if obj.image %}
        <img src="{{ obj.image.url }}" class="img-responsive" />
        {% endif %}
        <div class="caption">
          {% if obj.draft %}
          <h3>Staff only: Draft</h3>
          {% endif %} {% if obj.publish > today %}
          <h3>Staff Only: Future Post</h3>
          {% endif %}

          <h3>
            <a href="{{ obj.get_absolute_url }}" style="word-wrap: break-word;"
              >{{ obj.title|linebreaks|truncatechars:120 }}</a
            >
            <small>{{ obj.publish }}</small>
          </h3>
          {% if obj.user.get_full_name %}
          <p>Author: {{ obj.user.get_full_name }}</p>

          {% endif %}
          <p class="post-detail-item">
            {{ obj.content|linebreaks|truncatechars:200 }}
          </p>
          <p>
            <a
              href="{{ obj.get_absolute_url }}"
              class="btn btn-primary btn-sm btn-block"
              role="button"
              >View</a
            >
          </p>
        </div>
      </div>
    </div>
    <hr />
  </div>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
      {% if object_list.has_previous %}
      <a
        style="color: black;"
        type="button"
        href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
      >
        Previous
      </a>
      {% endif %}

      <span class="current" style="color: black;">
        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
      </span>

      {% if object_list.has_next %}
      <a
        style="color: black;"
        href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
        >Next</a
      >
      {% endif %}
    </span>
  </div>

  <!-- New Pagination -->

  <!-- <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      {% if object_list.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
        ></a>
      </li>
      {% endif %}
      <li class="page-item active">
        <span class="page-link">
          {{ object_list.number }} of {{ object_list.paginator.num_pages }}
          <span class="sr-only">(current)</span>
        </span>
      </li>
      {% if object_list.has_next %}
      <li class="page-item">
        <a
          class="page-link"
          href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
        ></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav> -->
</div>
<div>
  {% include "rightnav.html" %}
  <!--  -->
</div>
{% endblock content %}
