{% load staticfiles %} {% load adcode_tags %}{% block content %}
<!--  -->
{% load adsense_tags %}
{% if debug %}
<img
  alt="{{ placement }}"
  title="{{ placement }}"
  src="{{ placement.placeholder }}"
/>
{% else %}
<!-- Here you would put the actual ad code needed -->

<link rel="stylesheet" href='{% static "css/rightnav.css" %}' />
<!-- Homepage Leaderboard -->

<div class="rightnav">
  <!-- <ins
    class="adsbygoogle"
    style="display: inline-block; width: 728px; height: 90px;"
    data-ad-client="ca-pub-1234567890123456"
    data-ad-slot="1234567890"
  ></ins> -->

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
 style="display:block" width: 3408px; height: 100%;
 data-ad-client="ca-pub-1234567890123456"
 data-ad-slot="1234567890"
 data-adtest="on"
 google_adtest = on;
 data-ad-format="auto"
 data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <label class="title">
    {{ filter }}
  </label>
  <hr />
  {% for list in comment_list %}

  <a href="{{ list.get_absolute_url }}">
    {{list.Comment|linebreaks|truncatechars:50 |inject_adsense_after_paragraph:1}}
  </a>
  <hr />
  {% endfor %}
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{% endif %} {% endblock %}
